* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.news-link {
  text-decoration: underline;
  color: #012a5d;
  -webkit-text-decoration-color: #012a5d;
  text-decoration-color: #012a5d;
  overflow-wrap: break-word;
}
.news-link2 {
  text-decoration: underline;
  color: #777;
  -webkit-text-decoration-color: #777;
  text-decoration-color: #777;
  overflow-wrap: break-word;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#012a5dde, #012a5dde),
    url(images/Photos/Gallery\ Image_1.JPG);
  background-position: center;
  background-size: cover;
  position: relative;
}
.button-header {
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px;
  background: linear-gradient(#bfe7f5, #7ed0e8);
  position: relative;
  cursor: pointer;
}
.button-header :hover ::after{
  text-decoration: none
}
.button-font {
  color: #012a5d;
  font-weight: 500;
}
.logo img {
  height: 70px;
  object-fit: contain;
  margin-left: 0;
}
.header h3 {
  color: white;
  font-size: 12px;
  margin-left: 1px;
}
.header p {
  color: white;
  font-size: 10px;
  margin-top: -25px;
}

.header2 {
  max-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#012a5dde, #012a5dde),
    url(images/Photos/Gallery\ Image_1.JPG);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header2 h3 {
  color: white;
  font-size: 12px;
  margin-left: 1px;
}
.header2 p {
  color: white;
  font-size: 10px;
  margin-left: -8px;
  margin-top: -25px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 0%;
}
.header #navLinks .fa {
  display: none;
}
.header .fa{
  display: none;
}
.header2 #navLinks .fa {
  display: none;
}
.header2 .fa {
  display: none;
}

.setup {
  display: flex;
  padding: 2% 6%;
  padding-bottom: 5%;
  justify-content: space-between;
  align-items: center;
}
.setup img {
  width: 55%;
  padding: 0px;
  margin-bottom: -180px;
}
.text-box {
  flex: 1;
  width: 30%;
  color: #fff;
  text-align: left;
  display: inline-block;
  padding: auto;
  position: relative;
}
.text-box h1 {
  font-size: 50px;
}
.text-box p {
  margin-top: auto;
  font-size: 14px;
  color: #fff;
}
.text-box h3 {
  text-align: left;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}
.small-header{
  margin-top: 50px;
}
.hero-btn {
  bottom: 0%;
  right: 70%;
}
.hero-btn:hover {
  border: 1px solid #012a5d;
  background: #012a5d;
  transition: 1s;
}

/*institutes*/
.resize-image img{
  margin: auto;
  padding: 50px 0px;
  height: 60px;
}
.h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
  margin-left: 40px;
}
.row2 {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.row3 {
  display: flex;
  justify-content: space-evenly;
  margin-right: 90px;
  margin-left: 20px;
}
.row5 {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-left: 20px;
}
.row6 {
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  padding-bottom: 200px;
}
.front-col {
  flex-basis: 44%;
  margin-bottom: 5%;
  text-align: center;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
  cursor: pointer;
  display: flex;
}
.front-col3 {
  flex-basis: 30%;
  margin-bottom: 5%;
  text-align: center;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  background-color: #fff;
  padding: 0px 0px 0px 0px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
  cursor: pointer;
  display: flex;
}
.front-col2 {
  flex-basis: 44%;
  margin-bottom: 5%;
  text-align: center;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
  cursor: pointer;
  display: relative;
}

.what-why img{
  width: 100px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-why2 img {
  width: 130px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.what-text{
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 700px) {
  .front-col {
      padding: 0;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  
  .front-col3 {
      padding-bottom: 20px;
    }

  .what-why2 img{
    margin-left: 0;
    }
}

.course img {
  height: 100%;
  width: 50%;
  object-fit: contain;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 25px;
  box-sizing: border-box;
  width: 50%;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*About*/
.about {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 100px;
  background-image: linear-gradient(#f2f2f2, #f2f2f2);
}
.about-row {
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}
.about-row img{
  border-radius: 30px;
  width: 40%;
  height: 40%;
  padding-bottom: 30px;
}
.top-background{
  width: 80%;
  margin: auto;
}
.about2 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.title h3 {
  color: #012a5d;
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;
}
.title h3::after {
  content: "";
  width: 30%;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 25px;
  background: #646464;
}
.til-col {
  flex-basis: 32%;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  padding: 40px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
  flex-direction: column;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.til-col img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding-bottom: 5%;
}
.about-col {
  flex-basis: 32%;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin-bottom: 30px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  padding: 30px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
}
.about-col img {
  width: 50%;
  border-radius: 10px;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.about-col h3 {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}
.button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 12px 34px;
  border-radius: 10px;
  font-size: 13px;
  padding: 0 20px;
  background: #012a5d;
  position: relative;
  cursor: pointer;
}
.button:hover {
  background: #5b738f;
  transition: 1s;
}

/*Facilities*/
.facilities {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

@media (max-width: 700px) {
  .testimonials-col img {
    margin-left: 5px;
    margin-right: 30px;
  }
}

/* footer */
.cta {
  margin-top: 100px;
  width: 100%;
  background-image: linear-gradient(#012a5d, #012a5d);
  text-align: left;
  padding: 50px 0px;
}
.contact {
  flex: 1;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.cta p {
  color: #fff;
  padding: 0;
}
.cta a {
  color: #fff;
}
.cta img {
  width: 50px;
  height: 50%;
  padding-left: 30%;
}
@media (max-width: 700px) {
  .cta img{
    padding-left: 2%;
  }
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.icons .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o {
  color: #f44336;
}

/* About page */
.title_about h3 {
  color: #012a5d;
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;
}
.title_about h3::after {
  content: "";
  width: 20%;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 25px;
  background: #646464;
}
.aboutpage {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.aboutpage-col {
  flex-basis: 32%;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin-bottom: 30px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  padding: 30px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
}
.aboutpage-col img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.aboutpage-col h3 {
  color: #012a5d;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.team {
  width: 100%;
  background-image: linear-gradient(#f2f2f2, #f2f2f2);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 30px;
  margin-top: 100px;
  text-align: center;
}
.team-col {
  flex-basis: 40%;
  margin: 5px;
  background: transparent;
  padding: 5px;
}
.team-col img {
  height: 120px;
  width: 120px;
  margin: 10px;
}
.design-col {
  flex-basis: 40%;
  margin: 5px;
  background: transparent;
  padding: 5px;
  position: relative;
}
.hide-col {
  flex-basis: 32%;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin: 10px;
  position: absolute;
  overflow: hidden;
  padding: 10px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
}
.hide-col p{
  text-align: left;
}

.design-col img {
  height: 100px;
  object-fit: contain;
  margin: 10px;
}

/* Initiatives page */
.initiatives_about h3 {
  color: #012a5d;
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;
}
.initiatives_about h3::after {
  content: "";
  width: 15%;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: #646464;
}
.initiatives_about p {
  color: #646464;
  text-decoration: none;
  padding-bottom: 50px;
}
.initiativespage-col {
  flex-basis: 32%;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin-bottom: 100px;
  
  position: relative;
  overflow: hidden;
  padding: 30px 30px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
}
.initiativespage-col img {
  height: 170px;
  width: 170px;
}
.initiativespage-col h3 {
  padding-top: 3%;
  color: #012a5d;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}
.arrow img {
  width: 20%;
  height: 20%;
  position: relative;
}

/* Classroom Design page */
.classroom{
  padding-bottom: 30px;
}
.classroom h3 {
  color: #012a5d;
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;
}
.classroom h3::after {
  content: "";
  width: 20%;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  background: #646464;
}
.classroom p {
  text-align: left;
  margin: auto;
}
.classroom_photo {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#f2f2f2, #f2f2f2);
  margin: 90px 0px;
  padding: 30px 0px;
}
.photo-col {
  width: 100px;
  height: 100px;
}
.classroom-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.classroom-row img {
  border-radius: 30px;
  width: 40%;
  height: 40%;
  padding-bottom: 30px;
}
.classroom_button {
  text-align: left;
  display: inline-block;
  padding-bottom: 30px;
}
.classroom_features {
  margin: 60px;
}
.classroompage-col {
  flex-basis: 32%;
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin: 10px;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
}
.classroompage-col img {
  height: 170px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.classroompage-col h3 {
  color: #012a5d;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}
.classroom_arrow img {
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* News & Reports page */
.vertical-line{
  width: 35px;
  background-color: #c9c9c9;
  margin-left: 20px;
  margin-right: 20px;
}
.button-news {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-top: 100px;
  border-radius: 10px;
  font-size: 13px;
  padding: 0 20px;
  background: #012a5d;
  position: relative;
  cursor: pointer;
}
.button-text h3{
  text-decoration: #fff;
}
.arrow-right{
  width: 15%;
  height: 15%;
  padding: 40px 40px;
}
.row3 {
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
  margin-left: 40px;
}

.row3-pos {
  flex: 1;
}

.row4 {
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
  margin-left: 40px;
}

.row4 img{
  width: 13%;
}

.button4 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 40px 34px;
  border-radius: 10px;
  font-size: 13px;
  padding: 0 40px;
  background: #012a5d;
  position: flex;
  cursor: pointer;
}

.text-news {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-news h3{
  text-align: left;
  color: #012a5d;
}

.text-news2 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.text-news2 h3 {
  text-align: left;
  color: #012a5d;
}

.text-news2 p {
  text-align: left;
}

.reportpage {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.reportpage p {
  text-align: center;
}
.report {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 20px;
}
.report-col {
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin-bottom: 30px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  padding: 20px 50px;
  box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
}
.title-text{
  color: #012a5d;
  margin: 10px 0px;
}
.report-col img {
  width: 50%;
}
.news-col {
  flex-basis: 50%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.news-col h3 {
  color: #012a5d;
  margin-bottom: 30px;
}
.subnews-col {
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(92, 91, 91, 0.2);
  background-image: #fff;
}

/* Contact us*/
.contactpage {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.contactpage p {
  text-align: center;
}
.contact-info{
  margin: auto;
}
.contact-col {
  border: 7px solid #c9c9c9;
  border-radius: 30px;
  margin-bottom: 30px;
  margin: auto;
  position: relative;
  overflow: hidden;
  padding: 20px 20px;
  box-shadow: 2px 2px 10px rgba(92, 91, 91, 0.2);
  width: 70%;
}

.tiladvisory_about h3 {
  color: #012a5d;
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 50px;
}

.tiladvisory_about h3::after {
  content: "";
  width: 15%;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: #646464;
}

.til-story h3 {
  color: #012a5d;
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;
}
.til-story h3::after {
  content: "";
  width: 20%;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  background: #646464;
}
.til-story p {
  text-align: center;
  margin: 0px 60px;
}
.til-story p::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #646464;
}
.institutes{
  width: 100%;
}

.advisory{
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-image: linear-gradient(#f2f2f2, #f2f2f2);
  text-align: left;
}
.advisory h3{
  text-align: left;
  color: #012a5d;
}
.advisory ol{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-left: 30px;
}
.advisory ul {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-left: 30px;
}
.advisory b{
  color: rgb(53, 52, 52);
  font-size: 14px;
}
.advisory_link a{
  text-decoration: underline;
  color: #012a5d;
  -webkit-text-decoration-color: #012a5d;
  text-decoration-color: #012a5d;
}
.membership{
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
}
.membership ul {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-left: 30px;
}
.membership h3{
  text-align: left;
  color: #012a5d;
}
.membership b {
  color: rgb(53, 52, 52);
  font-size: 14px;
}

.text-contact {
  text-align: left;
  position: relative;
  top: 50%;
}

.text-contact h3 {
  text-align: left;
  color: #012a5d;
}

/* --Timeline-- */
.timeline {
  margin: 0px auto;
  max-width: 950px;
  padding: auto;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: #777;
}

.timeline__component {
  margin: 0 10% 20% 10%;
}

.timeline__component img{
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
}

.timeline__component--bg {
  padding: 10%;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(92, 91, 91, 0.2);
  border-radius: 30px;
  border: 7px solid #c9c9c9;
}

.timeline__component--bg h3{
  text-align: left;
  color: #012a5d;
}
.timeline__component--bg ul{
  color: #777;
  font-size: 14px;
  font-weight: 300;
}
/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  border-right: 0.2rem dashed rgb(203, 203, 203);
  display: inline-block;
}

.timeline__arrow img{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translateX(-40%) rotate(180deg);
  z-index: -1;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: rgb(203, 203, 203);
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
  color: #012a5d;
}
.timeline__date{
  color: #012a5d;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}

/* tooltip */
.final__tooltip {
    position: relative;
    height: 60px;
    width: 250px;
    text-align: center;
    margin: auto auto;
}
  .final__tooltip:before {
    position: absolute;
    z-index: 1;
    left: 70%;
    top: -20%;
    display: none;
    width: 200px;
    height: fit-content;
    padding: 10px 20px;
    padding-top: 65px;
    overflow: hidden;
    font-size: 0.8em;
    line-height: 1.4;
    text-align: left;
    border-radius: 10px;
    background-color: #fff;
    color: #012a5d;
    content: attr(des);
  }
  .final__tooltip:after {
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -20%;
    display: none;
    width: 200px;
    height: fit-content;
    font-size: 0.8em;
    font-weight: 500;
    padding: 10px 20px;
    color: #012a5d;
    border-bottom: 1px solid #d0d0d0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ecf0f1;
    content: attr(title);
  }
  .final__tooltip:hover:before,
  .final__tooltip:hover:after {
    display: inline-block;
  }


  .final__tooltip.top:before {
    bottom: calc(100% + 5px);
    left: 50%;

     /* Why use transform vs. position? There's a great article on that here: https://medium.com/@ArthurFinkler/css-animations-translate-vs-absolute-positioning-and-background-position-dd39fbdeade5 */
    transform: translateX(-50%);
  }
  .final__tooltip.top:after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.8);
  }


  .final__tooltip.bottom:before {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
  }
  .final__tooltip.bottom:after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top-width: 0;
    border-bottom-color: rgba(0, 0, 0, 0.8);
  }


  .final__tooltip.left:before {
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
  }
  .final__tooltip.left:after {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, 0.8);
  }


  .final__tooltip.right:before {
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
  }
  .final__tooltip.right:after {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, 0.8);
  }

  @media (max-width: 700px) {
    .final__tooltip {
        margin-bottom: 190px;
      }
  }

  .row2 {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }
  
  .til-col {
    flex-basis: 32%;
    border: 7px solid #c9c9c9;
    border-radius: 30px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    padding: 40px;
    box-shadow: 5px 5px 20px rgba(92, 91, 91, 0.2);
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
  
  }
  
  .til-col img {
    width: 50%;
    border-radius: 10px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 30px;
  }
  
  .button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 34px 0 0 0;
    border-radius: 10px;
    font-size: 13px;
    padding: 0 20px;
    background: #012a5d;
    position: relative;
    cursor: pointer;
  }


/* Contact form */
.form{
  margin: 35px;
  
}

.input-field{
  width: 80%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  outline: none;
}

.textarea-field{
  height: 150px;
  padding: 10px;
}

/*this is for smaller screen size*/
@media (max-width: 700px) {
  .header {
    min-height: 50vh;
  }

  .setup {
    display: block;
  }

  .text-box {
    display: block;
    width: 100%;
  }

  .setup img {
    width: 300px;
    margin-bottom: -60px;
  }

  .text-box h1 {
    font-size: 20px;
  }

  .front-col2 {
    display: block;
  }

  .row6 {
    flex-direction: column;
    padding-bottom: 0px;
  }

  .row2 {
    flex-direction: column;
  }

  .row5 {
    display: block;
  }

  .row5 img {
    display: none;
  }

  .report-col {
    padding: 20px 10px;
  }
}

/* @media (max-width: 700px) {
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #012a5d;
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .header #navLinks .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .header .fa {
    display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }

  .header2  .nav-links {
      position: absolute;
      background: #012a5d;
      height: 70vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
    
  .header2 #navLinks .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .header2 .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
} */